  .App-header {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
    color: rgb(223, 21, 21);
    border-bottom:2px solid red;
  }

  .App-logo{
    width: 200px;
    height: 50%;
    size: 60%;
    margin-right: 30px;
    animation: none;
  }