:root {
    --color-brand: #e01d3f;
  }

.Notifications{
    border: 3px dashed var(--color-brand);
    border: 2px red;
    padding: 2px;
    margin: 2px auto 0;
}

.Notifications p {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
}

li[data-priority="default"] {
    color: blue;
  }
  
li[data-priority="urgent"] {
    color: red;
  }