.Notifications{
  border: 1px dashed red;
  padding: 3px;
  margin: 2px auto 0;
}
.Notifications p {
font-weight:bold
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: red;
}